@charset "UTF-8";
@import "normalize";
@import "mixins";
@import "core";

img{
  width: 100%;
  height: 100%;
  display: block;
}
body{
  background-color: white;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
}
p{
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
}
a:link{text-decoration:none;   /* 指正常的未被访问过的链接*/}
a:visited{text-decoration:none; /*指已经访问过的链接*/}
a:hover{text-decoration:none;/*指鼠标在链接*/}
a:active{text-decoration:none;/* 指正在点的链接*/ }

$navColor:#5d5d5d;
$org:#eb6300;
$grayLight:#d3d3d3;
$aboutUs:#5e605f;
$detailLight:#626061;

//公共头部
.common-topBar{
  height: 120px;
  background-color: $navColor;
  padding-top: 45px;
  @include box-sizing(border-box);
  .common-nav{
    //height: 100%;
    width: 1280px;
    margin: 0 auto;
  }
  .navLeft{
    float: left;
    .logo{
      float: left;
      margin-right: 20px;
    }
    .location{
      float: left;
      width: 50px;
      height: 50px;
      margin-top: -10px;
      background-color: white;
      @include border-radius(50%);
      text-align: center;
      img{
        margin-top: 5px;
        display: inline-block;
        height: 18px;
        width: 18px;
      }
      p{
        line-height: 18px;
        font-size: 12px;
      }
    }
  }

  .navRight{
    float: right;
    line-height: 1;
    a{
      float: left;
    }
    .search{
      display: inline-block;
      margin-top: 5px;
      margin-right: 20px;
      float: left;
      width: 200px;
      height: 70px;
      position: relative;
      cursor: pointer;
      img{
        float: right;
        width: 24px;
        height: 24px;
      }
      ul{
        position: absolute;
        top:70px;
        left: 0;
        background-color: white;
        width: 200px;
        padding: 10px 0;
        display: none;
        li{
          padding-left: 20px;
          @include box-sizing(border-box);
          a{
            padding: 10px 0;
            display: block;
            width: 100%;
            color: #666;
            font-size: 16px;
          }
        }
      }
      &:hover{
        ul{
          display: block;
          a:hover{
            color: $org;
          }
        }
      }
    }
    //未登录
    //.personCenter{
    //  float: right;
    //  a{
    //    color: white;
    //    font-size: 18px;
    //    padding: 5px;
    //
    //  }
    //  a:last-child{
    //    padding-right: 0;
    //  }
    //  .login{
    //    width: 60px;
    //  }
    //  img{
    //    display: inline-block;
    //    width: 16px;
    //    height: 27px;
    //    vertical-align: top;
    //    margin-top: -5px;
    //  }
    //}
    //已登录
    .personal{
      float: right;
      a{
        color: white;
        font-size: 18px;
        padding: 5px;

      }
      a:last-child{
        padding-right: 0;
      }
      .login{
        width: 60px;
      }
      img{
        display: inline-block;
        width: 16px;
        height: 27px;
        vertical-align: top;
        margin-top: -5px;
      }
    }
  }

}

//中心内容
.payment{
  width: 1280px;
  margin: 0 auto;
  dd,dt{
    font-size: 30px;
    height: 118px;
    line-height: 118px;
    border-bottom: 1px solid $grayLight;
    color: $detailLight;
  }
  dt{
    font-weight: bold;
  }
  .pm-left{
    float: left;
  }
  .pm-right{
    float: right;
  }
  label{
    input[type=radio]{
      vertical-align: middle;
      margin-right: 20px;
      /*同样，首先去除浏览器默认样式*/
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      /*编辑我们自己的样式*/
      position: relative;
      width: 24px;
      height: 24px;
      background: transparent;
      border:1px solid $grayLight;
      @include border-radius(50%);
      outline: none;
      cursor: pointer;
    }
    //✔ √
    input[type=radio]:after{
      content: '✓ ';
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      background-color: $org;
      color: white;
      font-size: 18px;
      text-align: center;
      line-height: 24px;
      /*增加动画*/
      //-webkit-transition: all ease-in-out 300ms;
      //-moz-transition: all ease-in-out 300ms;
      //transition: all ease-in-out 300ms;
      /*利用border-radius和opacity达到填充的假象，首先隐藏此元素*/
      @include border-radius(50%);
      opacity: 0;
    }
    input[type=radio]:checked:after{
      @include border-radius(50%);
      opacity: 1;
    }
  }
  //选择购买方式
  .pm-buyType{
    .pm-justFlex{
      text-align: center;
      .pm-center{
        display: inline-block;
        height: 118px;
      }
    }
  .pm-branches{
    line-height: 118px;
    input[type=text]{
      width: 1030px;
      margin-left: 55px;
      color: $navColor;
    }
    input[type=checkbox]{
      margin-top: 46px;
      float: right;
      vertical-align: middle;
      /*同样，首先去除浏览器默认样式*/
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      /*编辑我们自己的样式*/
      position: relative;
      width: 24px;
      height: 24px;
      background: transparent;
      border:1px solid $grayLight;
      @include border-radius(50%);
      outline: none;
      cursor: pointer;
    }
    //✔ √
    input[type=checkbox]:after{
      content: '✓ ';
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      background-color: $org;
      color: white;
      font-size: 18px;
      text-align: center;
      line-height: 24px;
      /*增加动画*/
      //-webkit-transition: all ease-in-out 300ms;
      //-moz-transition: all ease-in-out 300ms;
      //transition: all ease-in-out 300ms;
      /*利用border-radius和opacity达到填充的假象，首先隐藏此元素*/
      @include border-radius(50%);
      opacity: 0;
    }
    input[type=checkbox]:checked:after{
      @include border-radius(50%);
      opacity: 1;
    }
  }

}
  //选择支付方式
  .pm-payType{
    label{
      margin-right: 225px;
    }
    img{
      display: inline-block;
      vertical-align: middle;
      width: 51px;
      height: 51px;
      @include border-radius(6px);
      margin:0 15px;
    }
  }
  //确认购买
  .pm-confirm{
    display: block;
    width: 134px;
    height: 134px;
    @include border-radius(50%);
    background-color: $org;
    font-size: 38px;
    text-align: center;
    color: white;
    margin: 90px 0;
    span{
      display: inline-block;
      width: 78px;
      line-height: 50px;
      margin-top: 15px;
    }
  }
}

//公共尾部
.common-footer{
  margin: 0 auto;
  width: 1280px;
  padding-top: 70px;
  border-top:1px solid #d6d7d7;
//关于我们
  .aboutUs{
    width: 100%;
    overflow: hidden;
    margin-bottom: 70px;
    a{
    color: #666;
    font-size: 16px;
  }
    ul{
      float: left;
      margin-right: 100px;
    }
    li{
      line-height: 36px;
      color: #666;
    }
  }
//二维码
  .QR{
    float: right;
    img{
      width: 121px;
      height: 121px;
    }
    a{
      display: block;
      margin-bottom: 20px;
      img{
        width: 120px;
        height: 37px;
      }
    }
  }
  //文字描述
  .footerText{
    float: right;
    width: 240px;
    margin-left: 40px;
    p{
      color: #666;
      font-size: 16px;
      line-height: 30px;
    }
  }

//版权声明
  .right{
    border-top: 1px solid #d6d7d7;
    margin-bottom:100px;
    p{
      margin-top: 20px;
      font-size: 15px;
      color: #666666;
      line-height: 1;
    }
  }
}