@charset "UTF-8";

@import "variables";
@import "normalize";
@import "core";
@import "mixins";
@import "iconfont";

$fontCol1:#333;
$fontCol2:#999;
$colDark:#666;
$colLight:#8b8b8b;
$colOrange:#f60;
$colBackground:#f5f5f5;
$gray1:#e7e7e7;
img{
  width: 100%;
  height: 100%;
  display: block;
}
body{
  background-color: white;
}



a{
  text-decoration: none;
}
a:link{text-decoration:none;   /* 指正常的未被访问过的链接*/}
a:visited{text-decoration:none; /*指已经访问过的链接*/}
a:hover{text-decoration:none;/*指鼠标在链接*/}
a:active{text-decoration:none;/* 指正在点的链接*/ }


//返回
.s-back{
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  height: pxTorem(76px);
  line-height: 1;
  //padding-top: pxTorem(60px);
  font-size: pxTorem(28px);
  border-bottom: 1px solid $gray1;
  background-color: white;
  @include box-sizing(border-box);
  color: #676767;
  z-index: 10;
  div{
    position: absolute;
    bottom: pxTorem(20px);
    left: pxTorem(30px);
  }
  //span{
  //  font-family: Consolas;
  //  font-size: pxTorem(35px);
  //}
  img{
    display: inline-block;
    width: pxTorem(28px);
    height: pxTorem(28px);
    vertical-align: bottom;
  }
  a{
    display: block;
    height: pxTorem(76px);
    width: pxTorem(40px);
    text-align: right;
    float: right;
    position: absolute;
    right:pxTorem(30px);
    bottom: 0;
    line-height: pxTorem(76px);
    .icon-jingshi{
      color: $colOrange;
      font-size: pxTorem(28px);
    }
  }
}

.sold{
  position: relative;
  width:100%;
  height:100%;
  padding-top: pxTorem(76px);
  @include box-sizing(border-box);

  //我要卖房
  .s-content{
    position: absolute;
    width: 100%;
    top:50%;
    transform:translateY(-50%);
    padding:0 pxTorem(60px);
    color: $colLight;
    @include box-sizing(border-box);
    h1{
      font-size: pxTorem(60px);
      line-height: pxTorem(30px);
      color: $fontCol1;

    }
    //卖房详情
    .s-details{
      margin-top: pxTorem(80px);
      p{
        font-size: pxTorem(22px);
        color: $fontCol1;
      }
      li{
        overflow: hidden;
        border-bottom: 1px solid $gray1;
        font-size: pxTorem(22px);
        color: $fontCol1;
      }
      input{
        text-align: right;
        width: 60%;
      }
      li{
        height: pxTorem(70px);
        line-height: pxTorem(70px);
      }
      :-moz-placeholder {
        text-align: right;
      }
      ::-moz-placeholder {
        text-align: right;
      }
      :-ms-input-placeholder {
        text-align: right;
      }
      ::-webkit-input-placeholder {
        text-align: right;
      }
      input,i,span{
        float: right;
        font-style:normal;
      }
      i{
        margin-left: pxTorem(8px);
      }
        .icon-jiantou{
          font-size: pxTorem(22px);
          color: #888;
        }
      span{
        color: #ccc;
      }
      //小区位置
      .s-position{
        :-moz-placeholder {
          text-align: left;
        }
        ::-moz-placeholder {
          text-align: left;
        }
        :-ms-input-placeholder {
          text-align: left;
        }
        ::-webkit-input-placeholder {
          text-align: left;
        }
        span{
          float: left;
        }
      }

    //下一步
      .s-nextStep{
        //width:pxTorem(520px);
        width:100%;
        height: pxTorem(72px);
        border:1px solid $colLight;
        @include border-radius(10px);
        text-align: center;
        line-height: pxTorem(72px);
        margin-top: pxTorem(65px);
      }

    }



  }









}

