@charset "UTF-8";

//ellipsis，省略号，当超过宽度时，显示省略号：
@mixin ell() {
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
}


 //clear-fix 清除浮动
@mixin clear-fix {
  &:after {
    clear: both;
    content: '.';
    display: block;
    height: 0;
    line-height: 0;
    overflow: hidden;
  }
  *height: 1%;
}


// 小箭头 三个参数，方向大小颜色
//arrow(direction,size,color);
//例如
//.arrow{
//  @include arrow(bottom,10px,#F00);//向下，10px大小，红色箭头，立马出现  使用@include导入
//}

@mixin arrow($direction,$size,$color) {
  width: 0;
  height: 0;
  line-height: 0;
  font-size: 0;
  overflow: hidden;
  border-width: $size;
  cursor: pointer;
  @if $direction == top {
    border-style: dashed dashed solid dashed;
    border-color: transparent transparent $color transparent;
    border-top: none;
  }
  @else if $direction == bottom {
    border-style: solid dashed dashed dashed;
    border-color: $color transparent transparent transparent;
    border-bottom: none;
  }
  @else if $direction == right {
    border-style: dashed dashed dashed solid;
    border-color: transparent transparent transparent $color;
    border-right: none;
  }
  @else if $direction == left {
    border-style: dashed solid dashed dashed;
    border-color: transparent $color transparent transparent;
    border-left: none;
  }
}

//box-sizing
@mixin box-sizing ($sizing) {
  -webkit-box-sizing:$sizing;
  -moz-box-sizing:$sizing;
  box-sizing:$sizing;
}

//border-radius
@mixin border-radius($radiusValue){
  -webkit-border-radius: $radiusValue;
  -moz-border-radius: $radiusValue;
  border-radius: $radiusValue;
}


