@charset "UTF-8";
@import "normalize";
@import "mixins";
@import "core";

img{
  width: 100%;
  height: 100%;
  display: block;
}
body{
  background-color: white;
}
p{
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
}
a:link{text-decoration:none;   /* 指正常的未被访问过的链接*/}
a:visited{text-decoration:none; /*指已经访问过的链接*/}
a:hover{text-decoration:none;/*指鼠标在链接*/}
a:active{text-decoration:none;/* 指正在点的链接*/ }

$navColor:#5d5d5d;
$org:#eb6300;

//公共头部
.common-topBar{
  height: 120px;
  background-color: $navColor;
  padding-top: 45px;
  @include box-sizing(border-box);
  .common-nav{
    //height: 100%;
    width: 1280px;
    margin: 0 auto;
  }
  .navLeft{
    float: left;
    .logo{
      float: left;
      margin-right: 20px;
    }
    .location{
      float: left;
      width: 50px;
      height: 50px;
      margin-top: -10px;
      background-color: white;
      @include border-radius(50%);
      text-align: center;
      img{
        margin-top: 5px;
        display: inline-block;
        height: 18px;
        width: 18px;
      }
      p{
        line-height: 18px;
        font-size: 12px;
      }
    }
  }
  .navRight{
    float: right;
    line-height: 1;
    a{
      float: left;
    }
    .search{
      display: inline-block;
      margin-top: 5px;
      margin-right: 20px;
      float: left;
      width: 200px;
      height: 70px;
      position: relative;
      cursor: pointer;
      img{
        float: right;
        width: 24px;
        height: 24px;
      }
      ul{
        position: absolute;
        top:70px;
        left: 0;
        background-color: white;
        width: 200px;
        padding: 10px 0;
        display: none;
        li{
          padding-left: 20px;
          @include box-sizing(border-box);
          a{
            padding: 10px 0;
            display: block;
            width: 100%;
            color: #666;
            font-size: 16px;
          }
        }
      }
      &:hover{
        ul{
          display: block;
          a:hover{
            color: $org;
          }
        }
      }
    }
    .personCenter{
      float: right;
      a{
        color: white;
        font-size: 18px;
        padding: 5px;

      }
      a:last-child{
        padding-right: 0;
      }
      .login{
        width: 60px;
      }
      img{
        display: inline-block;
        width: 16px;
        height: 27px;
        vertical-align: top;
        margin-top: -5px;
      }
    }
  }

}

.index{
  //搜索部分
  .banner{
    height: 930px;
    width: 100%;
    background-image: url("../image/banner.jpg");
    background-size: cover;
    .hunt{
      width: 1280px;
      margin: 0 auto;
      padding-top: 600px;
      @include box-sizing(border-box);
    }
    .searchCont{
      width: 100%;
      background-color: white;
      height: 70px;
      @include border-radius(6px);
      position: relative;
      span{
        position: absolute;
        width:0;
        height: 0;
        border-right:10px solid transparent;
        border-left:10px solid transparent;
        border-bottom:10px solid white;
        top: - 10px ;
        left:15px;
      }

      input{
        margin-top: 20px;
        width: 1145px;
        height: 30px;
        padding-left: 10px;
        border-right: 1px solid #c3c3c3;
        font-size: 26px;
        @include box-sizing(border-box);
      }
      a{
        padding: 25px 63px;
        height: 100%;
      }

      img{
        position: absolute;
        right:45px;
        top:10px;
        width: 47px;
        height: 47px;
      }
    }
    .category{
      margin-bottom: 30px;
      a{
        padding-right: 20px;
        padding-bottom: 30px;
        color: white;
        font-size: 26px;
      }
      .active{
          color:$org ;
        }
    }
    p{
      background: url("../image/word.png") no-repeat left center;
      margin-top: 30px;
      font-size: 16px;
      color: white;
      padding-left: 23px;
      cursor: pointer;
    }
  }
  //类型选择
  .content{
    margin: 0 auto;
    width: 1280px;
    height: 462px;
    overflow: hidden;
    ul{
    height: 100%;
    li{
      height: 100%;
      width: 200px;
      float: left;
      text-align: center;
      margin: 116px 0 100px 160px;
    }
    li:first-child{
      margin-left: 0;
    }
    img{
      display: inline-block;
      width: 167px;
      height: 167px;
      @include border-radius(50%);
    }
    div{
      font-size: 34px;
      color: #595757;
      line-height: 50px;
    }
    p{
      font-size: 16px;
      color: #595757;
    }
  }
  }

}

//公共尾部
.common-footer{
  margin: 0 auto;
  width: 1280px;
  padding-top: 70px;
  border-top:1px solid #d6d7d7;
//关于我们
  .aboutUs{
    width: 100%;
    overflow: hidden;
    margin-bottom: 70px;
    a{
    color: #666;
    font-size: 16px;
  }
    ul{
      float: left;
      margin-right: 100px;
    }
    li{
      line-height: 36px;
      color: #666;
    }
  }
//二维码
  .QR{
    float: right;
    img{
      width: 121px;
      height: 121px;
    }
    a{
      display: block;
      margin-bottom: 20px;
      img{
        width: 120px;
        height: 37px;
      }
    }
  }
  //文字描述
  .footerText{
    float: right;
    width: 240px;
    margin-left: 40px;
    p{
      color: #666;
      font-size: 16px;
      line-height: 30px;
    }
  }

//版权声明
  .right{
    border-top: 1px solid #d6d7d7;
    margin-bottom:100px;
    p{
      margin-top: 20px;
      font-size: 15px;
      color: #666666;
      line-height: 1;
    }
  }
}